checkpoint3.json
[{"id":"35e68435.c7519c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9b57de6a.8de85","type":"inject","z":"35e68435.c7519c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"0.5","x":190,"y":160,"wires":[["2553c13b.25138e","f314a839.5420e8"]]},{"id":"89589401.fb0f58","type":"http request","z":"35e68435.c7519c","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D1ipFZDJ/datapoints.csv","tls":"","proxy":"","authType":"","x":630,"y":160,"wires":[["a3dba4d.98c8e58"]]},{"id":"a3dba4d.98c8e58","type":"debug","z":"35e68435.c7519c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":200,"wires":[]},{"id":"2553c13b.25138e","type":"function","z":"35e68435.c7519c","name":"payload","func":"msg.headers={\n    deviceKey:\"4S9xNs7oLLX5x9lW\"\n};\n\nmsg.payload=\"Temperature,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["89589401.fb0f58"]]},{"id":"f314a839.5420e8","type":"function","z":"35e68435.c7519c","name":"payload1","func":"msg.headers={\n    deviceKey:\"4S9xNs7oLLX5x9lW\"\n};\n\nmsg.payload=\"Humidity,,87\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["89589401.fb0f58"]]}]