checkpoint2.json
[{"id":"dfdaa909.2e5128","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"606eed2a.6da0b4","type":"function","z":"dfdaa909.2e5128","name":"Payload","func":"msg.headers=\n{\n    deviceKey  :\"4S9xNs7oLLX5x9lW\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["404962ad.d80efc","6217915d.a48b2"]]},{"id":"404962ad.d80efc","type":"http request","z":"dfdaa909.2e5128","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D1ipFZDJ/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":510,"y":120,"wires":[["bca6136e.53b11"]]},{"id":"bca6136e.53b11","type":"debug","z":"dfdaa909.2e5128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"6217915d.a48b2","type":"http request","z":"dfdaa909.2e5128","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D1ipFZDJ/datachannels/Humidity/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":200,"wires":[["bca6136e.53b11"]]},{"id":"db24a79d.827368","type":"inject","z":"dfdaa909.2e5128","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"0.5","x":150,"y":100,"wires":[["606eed2a.6da0b4"]]}]