flows1.json
[{"id":"16d24ea0.24c991","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfe33dd.0a24cc","type":"rpi-gpio out","z":"16d24ea0.24c991","name":"raspberry pi2","pin":"7","set":"","level":"0","freq":"","out":"out","x":870,"y":200,"wires":[]},{"id":"c90e969a.dc8df8","type":"debug","z":"16d24ea0.24c991","name":"payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":40,"wires":[]},{"id":"10663112.0cae8f","type":"rpi-gpio in","z":"16d24ea0.24c991","name":"button","pin":"7","intype":"down","debounce":"25","read":true,"x":190,"y":160,"wires":[["3a9d53f0.6d81bc"]]},{"id":"3a9d53f0.6d81bc","type":"switch","z":"16d24ea0.24c991","name":"if input is1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":200,"wires":[["7f6056b9.3b3ea8"],["c84f9431.eb1b78"]]},{"id":"7f6056b9.3b3ea8","type":"change","z":"16d24ea0.24c991","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":140,"wires":[["cfe33dd.0a24cc"]]},{"id":"c84f9431.eb1b78","type":"change","z":"16d24ea0.24c991","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":260,"wires":[["cfe33dd.0a24cc"]]}]